[Unit]
Description=SQLBeat
After=network-online.target
Wants=network-online.target

[Service]
User=sqlbeat
EnvironmentFile=-/etc/sysconfig/sqlbeat
ExecStart=/usr/bin/sqlbeat -path.config=${SQLBEAT_CONFIG} -path.logs=${SQLBEAT_LOG} ${EXTRA_OPTS}
TimeoutStopSec=5s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
